@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFDF7;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  @apply m-0 p-0 h-full relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bounce {
  position: absolute;
  animation: bounce 500ms forwards;
}

.bounce-out {
  position: absolute;
  animation: bounce-out 500ms forwards;
}

@keyframes bounce {
  0% { transform: translateX(0); }
  30% { transform: translateX(50px); }
  100% { transform: translateX(-100vw); }
}

@keyframes bounce-out {
  0% { transform: translateX(-100vw); }
  30% { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

.slick-dots li button:before {
  color: white !important;
}